[submodule "bundle/golang"]
	path = bundle/golang
	url = https://github.com/fatih/vim-go.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
